body {width: 320px; font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; font-size: .8em; line-height: 1.2em; text-align: left; padding: 0px 0px 27px 0px; margin: 0px; background-color: #006699;}
body.meta { background: url(x-resource:///news_detail_header.png) #006699 no-repeat top left; padding: 91px 0px 27px 0px; }
h1 {font-size: 1.2em;}
h1.title {font-family:Georgia,"Times New Roman",Times,serif; color: #077CC1; font-size: 1.3em; line-height: 1.3; margin: 5px 0px;}
h2 {font-size: 1.15em; color: #333;}
h2.updated {font-size: .9em; margin: 0px 5px 3px 0px; font-weight: normal; color: #666;}
h3 {font-size: 1.1em;}
a {text-decoration: underline;color: #2575AD;}
u {text-decoration: none;}
blockquote {font-family:Georgia,"Times New Roman",Times,serif; border:1px solid #C2C2C2; font-size:.9em; line-height:1.2; padding:20px; color: #454545; width: 230px; margin-left: 10px;}
div.content {background-color: #fff; padding: 0px; border-bottom: 2px solid  #cc3300;}
.meta div.content { padding: 8px 5px 15px 12px; }
div p {margin: 10px 0px;}
ul { margin: 0px; padding: 0px; list-style-position:outside; }
.meta ul {margin: 5px; padding: 5px; }
div.button_link { text-align:center; margin: 7px; }
a.open_link {background:url(x-resource:///whiteclearbuttonlong.png) 0 0 no-repeat #fff; width:169px; height:25px; display:block; text-align:center; font:800 1em Helvetica, sans-serif; color:#3a5589; line-height:25px; text-decoration:none; margin:0 auto;}

p.wrapper { border: 5px solid #ccc; padding:0px; margin:0px;}
.content img { display: none; }
a.pdf {background:transparent url(x-resource:///pdf_icon.png) no-repeat right 50%; padding: 3px 20px 2px 0; font-size:11px}

div.issues {background-color:#fff; background-position:0 0; background-repeat:no-repeat; padding:85px 10px 10px 10px}
div.issues#index {padding:1em 0; border-top:1px solid #c2c2c2;}
div.issues#index h2 {border-top:1px solid #c2c2c2; border-bottom:0; padding:1em 10px 0.3em 10px}
div.issues#index p {padding-left:10px; padding-right:10px}
div.issues#index a {font-weight:800}
div.issues#civil_rights {background-image:url(x-resource:///civilrights.jpg)}
div.issues#defense {background-image:url(x-resource:///defense.jpg)}
div.issues#disabilities {background-image:url(x-resource:///disabilities.jpg)}
div.issues#economy {background-image:url(x-resource:///economy.jpg)}
div.issues#education {background-image:url(x-resource:///education.jpg)}
div.issues#energy {background-image:url(x-resource:///energy.jpg)}
div.issues#ethics {background-image:url(x-resource:///ethics.jpg)}
div.issues#faith {background-image:url(x-resource:///faith.jpg)}
div.issues#family {background-image:url(x-resource:///family.jpg)}
div.issues#fiscal {background-image:url(x-resource:///fiscal.jpg)}
div.issues#foreign {background-image:url(x-resource:///foreignpolicy.jpg)}
div.issues#healthcare {background-image:url(x-resource:///healthcare.jpg)}
div.issues#homeland {background-image:url(x-resource:///homeland.jpg)}
div.issues#immigration {background-image:url(x-resource:///immigration.jpg)}
div.issues#iraq {background-image:url(x-resource:///iraq.jpg)}
div.issues#poverty {background-image:url(x-resource:///poverty.jpg)}
div.issues#rural {background-image:url(x-resource:///rural.jpg)}
div.issues#service {background-image:url(x-resource:///service.jpg)}
div.issues#socialsecurity {background-image:url(x-resource:///seniors.jpg)}
div.issues#technology {background-image:url(x-resource:///technology.jpg)}
div.issues#urban {background-image:url(x-resource:///urbanpolicy.jpg)}
div.issues#veterans {background-image:url(x-resource:///veterans.jpg)}
div.issues#women {background-image:url(x-resource:///women.jpg)}
div.issues#additional {background-image:url(x-resource:///additional.jpg)}
div.issues h1 {font-family: Georgia, "Times New Roman", Times, serif; color:#2575ad;}
div.issues h2 {color:#000; text-transform:uppercase; font:800 1em Helvetica, sans-serif; border-bottom:1px solid #c2c2c2; margin:0 0 0.3em 0; padding:1em 0 5px 0}
div.issues h3 {color:#2575ad; font:800 1em Helvetica, sans-serif; margin:0; padding:0.3em 0}
div.issues ul {margin:0 0 1em 1.2em}
div.issues li, div.issues p {margin:0 0 1em 0}
div.issues div.contents ul, div.issues div.moreinfo ul {padding-top:0.3em; margin-bottom:0.3em}
div.issues div.contents li, div.issues div.moreinfo li {margin:0}
div.issues em, div.issues i {font-family: Georgia, "Times New Roman", Times, serif}