COPY_PHASE_STRIP = NO
FRAMEWORK_SEARCH_PATHS = $(HOME)/Library/Frameworks/
GCC_ENABLE_OBJC_GC = supported
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_USE_GCC3_PFE_SUPPORT = YES
INFOPLIST_FILE = Info.plist
INFOPLIST_PREPROCESS = YES
INSTALL_PATH = @executable_path/../Frameworks
SKIP_INSTALL = YES
WRAPPER_EXTENSION = framework
ZERO_LINK = NO
