body {background:#c6ccd4 url(x-resource:///bg.png) repeat 0 0; font:400 small Helvetica; width:320px}
p, td {font:400 small Helvetica}
p {margin:0 0 1em 0}
div.rc {background:transparent url(x-resource:///rcbgbottom.png) no-repeat bottom left; width:304px; padding:0 0 10px 0; margin:0 0 1em 0}
div.rc h2 {background:transparent url(x-resource:///rcbgtop.png) no-repeat 0 0; width:284; padding:10px; margin:0; font-size:1.1em}
div.rc div.inner {border-left:1px solid #9f9f9f; border-right:1px solid #9f9f9f; background:#fff; width:282px; padding:0 10px}

a.button {display:block; background:transparent url(x-resource:///event_buttonbg.png) no-repeat 0 0; width:284px; padding:0 10px; height:37px; color:#000; font-weight:800; line-height:37px; text-decoration:none; overflow:hidden}
a.button:active {background-position:bottom right; color:#fff}

div.rc div.inner table {margin:5px -10px 1em -10px; border-top:1px solid #9f9f9f; padding:10px 10px 0 10px; width:302px}
td.label {padding:0 10px 0 0; color:#666; font-weight:800}
td.value {padding:0; font-weight:800}